.container-dashboard{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-size: 100%;
    &>div{
        max-width: 1240px;
        margin: 0 auto;
        padding: 200px 4rem 0;
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 20px;
        &:not(:first-of-type){
            margin-top: 40px;
        }
    }
    .section1{
        background: #17193B;
        border-radius: 20px;
        padding: 30px;
        margin-top: 20px;
        h2{
            color: #98E6FF;
            font-size: 30px;
            font-weight: 600;
        }
        .slick-list{
            margin: 0 -15px;
            .slick-slide{
                border-radius: 20px;
                overflow: hidden;
                padding: 0 15px;
                img{
                    width: 100%;
                }
            }
        }
        .slick-prev:before, .slick-next:before{
            display: none;
        }
        .slick-next{
            background: #171D6F80;
            border-radius: 10px;
            width: 72px;
            height: 72px;
            right: -30px;
            svg{
                width: 50px;
                height: 50px;
            }
        }
    }
    .right-content{
        h2{
            color: #98E6FF;
            font-size: 22px;
            font-weight: 600;
        }
    }
}