@import '~antd/lib/style/color/colorPalette.less';
@import '~antd/dist/antd.less';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@primary-color: #A7F46A;
@border-radius: 10;
html, body, input, textarea, button {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.018em;
    font-display: fallback;
}
iframe{
    border:none;
    display: none;
}
.up{
    color: #14B8A6;
}
.down{
    color: #F64242;
}
:root {
    --background: #000228;
    --background-secondary: #F4F4F5;
    --primary-color: #A7F46A;
    --text-primary: #18181B;
    --text-secondary: #71717A;
    --layout-header-background: #fff;
    --rink-card-background: #F4F4F5;
    --border-color: #E4E4E7;
    --badge-background: #F4F4F5;
    --green: #14B8A6;
    --red: #F64242;
    --background-home: #F9FAFB;
}
[data-theme='dark'] {
    --background: #000228;
    --background-secondary: #2D3035;
    --primary-color: #A7F46A;
    --text-primary: #fff;
    --text-secondary: #fafafa;
    --accent: #71717A;
    --layout-header-background: #27272A;
    --rink-card-background: #3F3F46;
    --border-color: #272949;
    --badge-background: #5542F6;
    --green: #14B8A6;
    --red: #F64242;
}
#root{
    background: var(--background);
}
.ant-card{
    background: none!important;
}
.ant-empty-normal{
    color: var(--text-primary);
}
html,body{
    background: var(--background);
    color: var(--text-primary);
}
.headerDropdown{
    width: 150px;
}
.bottom{
    width: 100%;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    box-sizing: border-box;
    background-clip: padding-box; /* !importanté */
    background: linear-gradient(90deg, #150D00 0%, #835C21 49%, #150D00 100%);
    border: solid 1px transparent; /* !importanté */
    border-radius: 40px;  
    position: relative;  
    z-index: 1;
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
    &>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    // z-index: 1;
    // &:before {
    //     content: '';
    //     position: absolute;
    //     top: 0; right: 0; bottom: 0; left: 0;
    //     z-index: -1;
    //     margin: -1px; /* !importanté */
    //     border-radius: inherit; /* !importanté */
    //     background: linear-gradient(90deg, #3E2909 0%, #FFD688 51%, #3E2909 99.5%);
    // }
    &>div{
        max-width: 1240px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 4rem;
        text-align: center;
    }
    svg{
        margin: 0 5px;
    }
    .ant-btn{
        background: #F4D177;
        height: 38px;
        border: none;
        border-radius: 20px;
        color: #020035;
        font-size: 16px;
        font-weight: 600;
        &:hover{
        background: #F4D177;
        color: #020035;
        }
    }
}